.popup {
    position: fixed;
    top:50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background-image: url('../images/popup-img.png');
    position: relative;
    padding: 32px;
    width: 700px;
    height: 900px;
    background-size: cover;
}

.popup-inner .close-btn {
    position:absolute;
    top: 16px;
    left: 16px;
}