.board-total {
    padding: 0 10px;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: aquamarine;
    margin-left: 13px;
    margin-top: 8px;
  }
  
  .board-total[class$="ququ"] {
    padding: 0 10px;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: aquamarine;
    background-image: url("../images/img.jpg");
    background-size: cover;
  }
  
  .menus div:hover {
    background-color: rgb(120, 182, 236);
    transition: all ease 1s;
    transform: rotate(20deg);
  }
  
  .resources {
    float: left;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: 1px solid black;
  }
  
  .notice {
    float: left;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: 1px solid black;
  }
  
  .notice-main {
    padding-left: 0px;
  }
  
  .resources-main {
    padding-left: 0px;
  }
  
  .news-main {
    padding-left: 0px;
  }
  
  .menus > div {
    width: 25.333%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px;
    background-color: white;
    text-shadow: 2px 2px 2px green;
  }
  
  .menus > div[class$="on"] {
    background-color: rgb(62, 190, 118);
  }
  
  .news {
    float: left;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: 1px solid black;
  }
  
  .main-contents {
    clear: left;
  }
  
  ol > li {
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid black;
  }
  
  li {
    list-style: none;
    font-weight: bold;
  }
  
  ol:first-child {
    border-top: 1px solid black;
  }
  
  ol > li > span {
    float: right;
  }
  
  .bonobono {
    background-image: url("../images/button.jpg");
    width: 40px;
    height: 40px;
    border-radius: 25px;
  }
  
  .bonobono:hover {
    cursor: pointer;
  }